.menu-view {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hired-characters {
    /*color: gold;*/
    margin-top: 20px;
}

.app button.menu-button {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
