.character-detail {
    width: 100%;
}

.character-detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.character-detail-inner {
}

.character-detail-portrait {
    height: 120px;
    width: 120px;
    border: solid 1px black;
    margin: 5px;
}

.stat {
    display: table-row;
    font-size: 16pt;
}

.stat label {
    display: table-cell;
    text-align: end;
    vertical-align: middle;
}

.stat div {
    display: table-cell;
    padding-left: 10px;
}

.stats-view {
    display: table;
    margin: 10px 5px;
}

.character-detail-row {
    display: flex;
    flex-direction: row;
}

.character-detail-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    max-width: 45%
}

.character-detail-name {
    font-size: 18pt;
}

.character-detail-career {
    font-size: 14pt;
}
