.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*color: oldlace;*/
}

.character-picker .slick-dots li button:before {
    font-size: 30px;
}

.list {
    margin: 10px 0px;
    padding: 5px;
    overflow-y: scroll;
}

button.back-button, button.hire-button {
    margin-bottom: 10px;
    width: 48%;
    display: inline-block;
}

.separator {
    left: 0;
    right: auto;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    text-shadow: 2px 2px 8px #000000;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.container .picker-container .picker-column .picker-item.picker-item-selected {
    /*color: gold;*/
}


* {
    min-height: 0;
    min-width: 0;
}
