.header {
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.gold-icon {
    background-image: url('../../static/images/gold.png');
    height: 35px;
    width: 35px;
    background-size: contain;
}

.gold-value {
    /*color: goldenrod;*/
}
