body, html, #root {
    font-family: 'caslon_antiqueregular', serif;
    font-size: 18pt;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: silver;
}

body {
  /*background-image: url('../../static/images/wood.jpg');*/
}

@font-face {
    font-family: 'caslon_antiqueregular';
    src: url('../../fonts/caslonantique-webfont.woff2') format('woff2'),
         url('../../fonts/caslonantique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* support for ReactCSSTransitionGroup */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
/* END support for ReactCSSTransitionGroup */

.app .button {
  font-family: 'caslon_antiqueregular', serif;
  font-size: 14pt;
  width: 100%;
  border-color: black;
  height: 50px;
  flex-shrink: 0;
  background-color: white;
}

.app {
    width: 65%;
    min-width: 90%;
    max-width: 500px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.hidden {
  visibility: hidden;
}

#root div[data-reactroot] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
